#container {
    margin: 2em;
    padding: 1em;
    background-color: rgba(0, 0, 0, .5);
    border-radius: .3em;
}

#thhead {
    background-color: #343a40;
}

#tr:hover {
    background-color: black;
}