<div id="container">
    <div id="titulo">
        <h1>Consulta</h1>
    </div>
    <ngx-spinner></ngx-spinner>
    <div id="pessoas">
        <div class="form-group col">
            <label class="col-form-label">Nome/CPF</label>
            <div>
                <input class="form-control" (input)="search()" type="text" placeholder="Digite para pesquisar..." id="procurar" #procurar>
            </div>
        </div>
        <div id="resultado">
            <table class="table">
                <thead class="thead-dark">
                    <tr>
                        <th id="thhead">Nome</th>
                        <th id="thhead">Documento</th>
                        <th id="thhead">Valor gasto</th>
                        <th id="thhead">Hospedado</th>
                    </tr>
                </thead>
                <tbody>
                    <tr id="tr" *ngFor="let pessoa of pessoaService.getData()">
                        <td>{{ pessoa.nome }}</td>
                        <td mask="000.000.000-00">{{ integerToCpf(pessoa.documento) }}</td>
                        <td>{{ numberToReal(pessoa.valorGasto) }}</td>
                        <td *ngIf="pessoa.hospedado">Sim</td>
                        <td *ngIf="!pessoa.hospedado">Não</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>